<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/estilo.css">

    <title>Categorias</title>

</head>
<body>
    <div class="container">
        <h1 class="category">Categoria: <%= produto.categoria %></h1>
        <!-- Adicione mais detalhes ou informações sobre o produto aqui -->
        <a href="/" class="a">Voltar à lista de noticias</a>
    </div>
</body>
</html>
